body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ececec;
    font-family: Arial, sans-serif;
}

#meuFormulario {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 5px;
}